body {
    font-size: 18px;
    padding-top: 80px;
}

ol  {
    list-style: none outside none;
    margin: 0;
}

#checklist li {
    margin: 0;
    padding: 10px 0;
}

#checklist ol {
	padding-left: 45px;
	margin-top: 10px;
}

#checklist ol:empty {
	margin-top:0;
}

#checklist ol li:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

#checklist li.sortable-placeholder {
	background-color: #F5F5F5;
	border: 1px solid #DDD;
	height: 26px;
	margin-left: 34px;
	margin-bottom: 10px;
	padding-bottom: 0;
}

h1 {
	padding:5px 6px 4px 6px;
	border-bottom: 1px solid #BBB;
}

.box {
	display: inline;
	float:left;
    border: 2px solid #444;
    height: 24px;
    width: 24px;
    margin-right:12px;
    text-align: center;
    cursor: pointer;
}

#list-title {
	min-height: 36px;
}

#list-title-edit {
	font-weight: bold;
	color: #404040;
	margin-bottom: 18px;
	font-size: 30px;
	line-height: 36px;
	
}

.checked {
	background-image: url(../images/checked.png);
}

.checked ~ div.value {
	text-decoration: line-through;
}

div.value:hover,
#list-title:hover {
	background-color: #FFFF99;
}

input {
	border-radius: 0;
	height: auto;
	width: 100%;
}

.span14 .value {
	width: 765px;
	margin:0 0 0 42px;
	padding: 3px 0;
	line-height: 24px;
	color: gray;
	text-align: -webkit-match-parent;
	font-size: 18px;
}

.value {
	display:inline;
	float:left;
	width:765px;
	padding: 5px 4px;
	height: 18px;
}

.editMode {
	display: none;
}

.value.editMode {
	background-color: white;
	padding:4px;
	display: none;
}

.handle-container {
	display: inline;
	float:left;
    width: 24px;
    margin-right:12px;
}

.handle {
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	margin-top: 2px;
	cursor: move;
}

#checklist li div.row:hover .handle {
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.row {
	margin-left:0;
}

.actions {
	padding-left: 36px;
}

#add {
	margin: 15px 0 20px 80px;
}

footer {
	text-align: right;
}

.topbar {
	position: absolute;
}

.topbar .nav {
	font-size: 13px;
}

img.logo {
	vertical-align:bottom;
}

.alert,
.alert-message {
	font-size: 13px;
}

.link {
	cursor: pointer;
}

#about a {
	color: #C43C35;
}

#about p {
	margin-top: 10px;
}

.alert-message .credits {
	border-top: 1px solid #FCEEC1;
	margin-top: 20px;
	padding-top: 5px;
}

.credits ul {
	margin-left: 25px;
}

#about .credits p {
	margin-top:0px;
}

#export {
	margin-right:5px;
}

#export p.warning {
	font-size: 13px;
	padding-top:6px;
}

#import-error .alert-message {
	padding-top: 5px;
	padding-bottom: 5px;
}
